#SolarAnalogs {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 1075px;
     text-align: justify;        
}
#GalacticArchaeology {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 770px;
     text-align: justify;        
}
#WideBinaries {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 820px;
     text-align: justify;        
}
#HardwareProjects {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 2525px;
     text-align: justify;        
}
