#SolarAnalogs {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 1000px;
     text-align: justify;        
}
#GalacticArchaeology {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 1000px;
     text-align: justify;        
}
#WideBinaries {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 1000px;
     text-align: justify;        
}
#HardwareProjects {
  border: 1px solid black;
     padding: 10px;
     width: 639px;
     height: 1000px;
     text-align: justify;        
}
