/* Navbar Styles */
.navbar {
  border-radius: 0;
}

.navbar-toggler {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-toggler:hover {
  background: #f0f0f0;
}

.navbar-toggler:focus {
  outline: 0;
}

/* Navbar Collapse Styles To Stack Items At Mobile Widths*/
@media (max-width: 47.9em) {
  .navbar .navbar-brand {
    float: none;
    display: inline-block;
  }
  .navbar .navbar-nav > .nav-item {
    float: none;
    margin-left: 0.1rem;
  }
  .navbar .navbar-nav {
    float: none !important;
  }
  .nav-item {
    width: 100%;
    text-align: left;
  }
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/tessFL.jpg") no-repeat center center;
  color: white;
  background-size: cover;
}

.about-us-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Stellargroup2019.jpg") no-repeat center center;
  color: white;
  height: 468px;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
  color: #607289;
}

h5 {
  font-size: 1rem;
  line-height: 1.375;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #030929;
}

a {
  color: #818494;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #007bff;
  text-decoration: none;
}

footer {
  background: #ebf4fa;
}
